web/WEB-INF/wsdl/localhost_8080/Soap_Test/Daw2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://daw2.fje.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://daw2.fje.edu/" name="Daw2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://daw2.fje.edu/" schemaLocation="http://localhost:8080/Soap_Test/Daw2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="iniciarJoc">
<part name="parameters" element="tns:iniciarJoc"/>
</message>
<message name="iniciarJocResponse">
<part name="parameters" element="tns:iniciarJocResponse"/>
</message>
<message name="obtenirCarta">
<part name="parameters" element="tns:obtenirCarta"/>
</message>
<message name="obtenirCartaResponse">
<part name="parameters" element="tns:obtenirCartaResponse"/>
</message>
<message name="mostrarCartes">
<part name="parameters" element="tns:mostrarCartes"/>
</message>
<message name="mostrarCartesResponse">
<part name="parameters" element="tns:mostrarCartesResponse"/>
</message>
<message name="tirarCarta">
<part name="parameters" element="tns:tirarCarta"/>
</message>
<message name="tirarCartaResponse">
<part name="parameters" element="tns:tirarCartaResponse"/>
</message>
<message name="moureJugador">
<part name="parameters" element="tns:moureJugador"/>
</message>
<message name="moureJugadorResponse">
<part name="parameters" element="tns:moureJugadorResponse"/>
</message>
<message name="acabarJoc">
<part name="parameters" element="tns:acabarJoc"/>
</message>
<message name="acabarJocResponse">
<part name="parameters" element="tns:acabarJocResponse"/>
</message>
<portType name="Daw2WebService">
<operation name="iniciarJoc">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/iniciarJocRequest" message="tns:iniciarJoc"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/iniciarJocResponse" message="tns:iniciarJocResponse"/>
</operation>
<operation name="obtenirCarta">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/obtenirCartaRequest" message="tns:obtenirCarta"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/obtenirCartaResponse" message="tns:obtenirCartaResponse"/>
</operation>
<operation name="mostrarCartes">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/mostrarCartesRequest" message="tns:mostrarCartes"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/mostrarCartesResponse" message="tns:mostrarCartesResponse"/>
</operation>
<operation name="tirarCarta">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/tirarCartaRequest" message="tns:tirarCarta"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/tirarCartaResponse" message="tns:tirarCartaResponse"/>
</operation>
<operation name="moureJugador">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/moureJugadorRequest" message="tns:moureJugador"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/moureJugadorResponse" message="tns:moureJugadorResponse"/>
</operation>
<operation name="acabarJoc">
<input wsam:Action="http://daw2.fje.edu/Daw2WebService/acabarJocRequest" message="tns:acabarJoc"/>
<output wsam:Action="http://daw2.fje.edu/Daw2WebService/acabarJocResponse" message="tns:acabarJocResponse"/>
</operation>
</portType>
<binding name="Daw2WebServicePortBinding" type="tns:Daw2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="iniciarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenirCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarCartes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="tirarCarta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="moureJugador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="acabarJoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Daw2WebService">
<port name="Daw2WebServicePort" binding="tns:Daw2WebServicePortBinding">
<soap:address location="http://localhost:8080/Soap_Test/Daw2WebService"/>
</port>
</service>
</definitions>